.qd-button {
    background-color: #555;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 20%);
    color: #fff;
    height: 30px;
}

.qd-button_loading {
    background-image: url('../spinner.svg');
    background-position-x: 5px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 26px;
}

.qd-button_highlighted {
    border: 3px solid greenyellow;
}

.qd-button_dangerous {
    border: 3px solid red;
    color: red;
}

.qd-button[disabled] {
    background-color: #ddd;
    color: #aaa;
}

.qd-button:not([disabled]):hover {
    cursor: pointer;
    filter: brightness(85%);
}

.qd-button:not([disabled]):active {
    filter: brightness(80%);
}
