.qd-messaging .self {
    text-align: right;
}

.qd-messaging_send {
    display: flex;
}

.qd-messaging_text {
    flex: auto;
    margin-right: 10px;
    width: 0;
}

.qd-messaging_time {
    color: gray;
}
