.qd-profile_friends {
    margin-top: 1em;
}

.qd-profile_friend {
    background-color: #2a3db8;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .2);
    color: #ddd;
    margin-bottom: 5px;
    padding: 10px;
}

.qd-profile_friend-email {
    color: gray;
    font-size: .8em;
    margin-left: 10px;
}

.qd-profile_form {
    display: flex;
    flex-direction: column;
}

.qd-profile_form>label {
    margin-bottom: 10px;
}
