html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* stylelint-disable-next-line selector-max-specificity, selector-max-id */
#content {
  height: 100%;
}
