html {
    background-color: var(--color-background);
    color: var(--color-default);
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* stylelint-disable-next-line selector-max-specificity, selector-max-id */
#content {
    display: flex;
    height: 100%;
}

:root {
    --color-primary: #2a3db8;
    --color-default: #393f3f;
    --color-background: #fff;
    --color-secondary-background: #eceeee;
    --color-tertiary-background: gainsboro;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #2a3db8;
        --color-default: #ebdbb2;
        --color-background: #121212;
        --color-secondary-background: #1d1e20;
        --color-tertiary-background: #555;
    }
}
